/* This file is for your main application css. */

@import "./phoenix.css";
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

body{
  background-color: #f6f1f8;
}

.title{
  font-family: 'Fira Code', monospace;
}

.email{
  font-size: 1em;
  border-radius: 5px;
  color: black;
  height: 50px;
  min-width: 300px;
  background-color: #fff;
  border: 2px solid slateblue;
  padding: 5px;
  margin: 5px;
}

.register{
  font-size: 1em;
  background-color: slateblue;
  height: 48px;
  border: 0px;
}

.register:hover{
  background-color: rgb(255, 0, 234);
}
